.map {
  background-image: url('./Sprites/underwater.gif');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.character {
  width: 40px;
}