:root{
  --main-color: white;
  --secondary-color: lightblue;
  --main-text-color: black;
  --secondary-text-color: blue;
  --send-message-form: rgb(216, 216, 216);
}

.app{
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--main-text-color);
  background-color: var(--secondary-color);
}

.message{
  margin: 15px 0;
}

.message-username{
  padding: 4px;
  color: var(--secondary-text-color);
}

.message-text{
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
  color: var(--main-text-color);
  background-color: var(--secondary-color);
}

.message-time{
  font-size: 11px;
  padding: 2px;
  color: rgb(61, 61, 61);
}

.message-list{
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 0 0 6px;
  margin: 0;
  width: 100%;
  overflow-y: auto;
  background-color: var(--main-color);
}

.send-message-form{
  /*position: fixed;
  bottom: 0px;*/
  width: 100%;
  display: flex;
  box-sizing: border-box;
  height: 60px;
  color: var(--secondary-text-color);
  background-color: var(--send-message-form);
}

.send-message-form input{
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin: 0;
  background: var(--send-message-form);
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: black;
}
